../CongresoUTP/
        ../Curso CSS/
        ../Curso HTML/
        ../Curso-JS/
        ../Curso-PHP/
        ../DidierMosley_Lab3.zip
        ../GitHub-Page/
        ../Instagram-/
        ../LLP/
        ../Parcial 1 - DMosley.zip
        ../Practicas/
        ../applications.html
        ../bitnami.css
        ../dashboard/
        ../favicon.ico
        ../git/
        ../img/
        ../index.php
        ../laboratoriouno/
        ../mosley/
        ../workspace.code-workspace
        ../workspace.code-workspace2.code-workspace
        ../xampp/